/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a:link {
  text-decoration: none;
  color: white;
}
a:visited {
  color: white;
}

body {
  background-image: url("/SRC/oakWood1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

/* HEADER */
h1 {
  margin-top: 160px;
}
.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url("/SRC/oakWood1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* page */
.title {
  font-weight: bold;
}
.card-title {
  text-align: center;
}
.card-text {
  text-align: justify;
  text-align-last: justify;
}
.btn {
  font-weight: 700;
}
.middot {
  color: black;
  font-weight: 900;
}

.alert {
  font-weight: 900;
}
.alert li {
  font-weight: 300;
}
